<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WoolyChat: {% block title %}{% endblock %}</title>
    <style>
        :root {
            {{ accent_theme_colors|safe }}
        }
    </style>

    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block stylesheets %}{% endblock stylesheets %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="app-container">
    {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>